[[extend 'layout.html']]

[[block header]]
[[icon='fa fa-chart-line']]
[[breadcamp = 'User']]
[[end]]

[[block content]]
<div class="container-section">
    <div class="d-flex justify-content-between align-items-center border-bottom">
        <span class="icon-text icon-text-bold">
            <i class="fa-solid fa-plus"></i>
            <span>Edit</span>
        </span>

        <div class="d-flex justify-content-end">
            <div class="p-1">
                <button type="button" class="btn btn-sm btn-light d-none" id="btn_view">
                    <i class="fa-regular fa-eye"></i> <span class="ms-2">View</span>
                </button>
                <button type="button" class="btn btn-sm btn-light" id="btn_edit">
                    <i class="fa-regular fa-pen-to-square"></i> <span class="ms-2">Edit</span>
                </button>
            </div>
            <div class="p-1">
                <a href="[[=URL('user/index')]]" class="btn btn-sm btn-light">
                    <i class="fa-solid fa-arrow-left"></i> <span class="ms-2">Back</span>
                </a>
            </div>
            <!-- <div class="p-1">
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Action
                    </button>
                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="delete?id=[[=request.query.get('id')]]" id="delete_btn">
                            <i class="fa-solid fa-trash-can"></i><span class="ms-2">Delete</span></a>
                    </div>
                    
                </div>
            </div> -->
        </div>
    </div>
    <div class="container py-2">

        <form action="[[=URL('user','update')]]?id=[[=record.id]]" method="POST">

        <div id="custom_form">        
            <div class="row">                
                
                <div class="col-md-3">
                    <div class="mb-3 custom_input">
                        <label for="first_name" class="form-label">First Name <span class="text-danger">*</span></label>
                        <input type="text" id="first_name" name="first_name" class="form-control form-control-sm" value="[[=record.first_name]]">
                    </div>
                </div>                
                <div class="col-md-3">
                    <div class="mb-3 custom_input">
                        <label for="last_name" class="form-label">Last Name <span class="text-danger">*</span></label>
                        <input type="text" id="last_name" name="last_name" class="form-control form-control-sm" value="[[=record.last_name]]">
                    </div>
                </div>                
                <div class="col-md-3">
                    <div class="mb-3 custom_input">
                        <label for="user_name" class="form-label">User Name <span class="text-danger">*</span></label>
                        <input type="text" id="user_name" name="user_name" class="form-control form-control-sm" value="[[=record.user_name]]">
                    </div>
                </div>                
                <div class="col-md-3">
                    <div class="mb-3 custom_input">
                        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                        <input type="email" id="email" name="email" class="form-control form-control-sm" value="[[=record.email]]">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3 custom_input">
                        <label for="pass" class="form-label">Password <span class="text-danger">*</span></label>
                        <input type="password" id="pass" name="pass" class="form-control form-control-sm" value="[[=record.password]]" placeholder="At least 8 characters">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3 custom_input">
                        <label for="pass_confirmation" class="form-label">Password Confirmation <span class="text-danger">*</span></label>
                        <input type="password" id="pass_confirmation" name="pass_confirmation" class="form-control form-control-sm" value="[[=record.password]]">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3 custom_input">
                        <label for="role" class="form-label">Role <span class="text-danger">*</span></label>
                        <select class="select_custom form-control form-select-sm selectChange" name="role" id="role">
                            <option value="">--Select--</option>
                            <option value="super_admin" [[if str(record['role']) == "super_admin":]] selected [[pass]]>Super Admin</option>
                            <option value="admin" [[if str(record['role']) == "admin":]] selected [[pass]]>Admin</option>
                            <option value="viewer" [[if str(record['role']) == "viewer":]] selected [[pass]]>Viewer</option>
                            <option value="DBIC" [[if str(record['role']) == "DBIC":]] selected [[pass]]>Sales</option>
                            <option value="AIC" [[if str(record['role']) == "AIC":]] selected [[pass]]>Accounts</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-10">
                    <div class="mb-3 custom_input" >
                        <label for="branch_list" class="form-label">Branch List <span class="text-danger">*</span></label>                        
                        <select class="select_custom form-control form-select-sm selectChange" name="branch_list" id="branch_list" multiple>
                            <option value="">--Select--</option>
                            [[for row in branchList:]]
                            <option value="[[=row.id]]" [[if row.id in user_branch_records:]] selected [[pass]]>[[=row.name]]</option>
                            [[pass]]
                        </select>
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-center" style="margin-top: 28px;">
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" disabled [[if len(branchList) ==len(user_branch_records):]] checked [[pass]] id="selectAll">
                            <label class="form-check-label" for="selectAll">Select All</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="status" name="status" disabled
                            [[if record.status==1:]] checked [[pass]]>
                            <label class="form-check-label" for="status">
                              Active
                            </label>
                        </div>
                    </div>                    
                </div>                
              
            </div>
            <div class="row d-none" id="edit_view_section">
                <div class="col-12">
                    <div class="d-flex justify-content-start">
                        <div class="me-2">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa-regular fa-floppy-disk"></i> <span class="ms-2">Update</span>
                            </button>
                        </div>
                        <div class="">
                            <button type="reset" class="btn btn-sm btn-light">
                                <i class="fa-solid fa-retweet"></i> <span class="ms-2">Reset</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

</div>
[[end]]
[[block scripts]]
<!-- individual pages can add scripts here -->
  <script>
    $(document).ready(function() {

        //  Select/Deselect all banks when checkbox changes
        $('#selectAll').on('change', function() {
            if ($(this).is(':checked')) {
                $('#branch_list option[value!=""]').prop('selected', true);
            } else {
                $('#branch_list option').prop('selected', false);
            }
            $('#branch_list').trigger('change'); // important for select2
        });

        //  Listen for changes in the dropdown
        $('#branch_list').on('change', function() {
            let total = $('#branch_list option[value!=""]').length;   // all real options
            let selected = $('#branch_list option:selected').length; // how many selected

            // If all options are selected, check Select All
            // Else uncheck it
            if (selected === total && total > 0) {
                $('#selectAll').prop('checked', true);
            } else {
                $('#selectAll').prop('checked', false);
            }
        });

    });
</script>
[[end]]