{% extends 'layout.html' %}

{% block header %}
    {% with icon='fa fa-users' breadcamp='Users' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block content %}

<div class="container-section">

    <div class="row">

        <!-- Table Title -->
        <div class="col-md-1 mt-2 mb-2">
            <span class="icon-text icon-text-bold">
                <i class="fa-solid fa-users"></i>
                <span>Users</span>
            </span>
        </div>


        <!-- Filter Section -->
        <div class="col-md-9 mt-2">

            <div class="row" id="custom_form" style="display:none;">
                
                <!-- Username -->
                <div class="col-md-2 mb-2">
                    <select
                        class="form-select form-select-sm select_custom"
                        name="username"
                        style="width:100%;"
                        placeholder="Select User"
                    >
                        <option value="">Select User</option>
                    </select>
                </div>


                <!-- First Name -->
                <div class="col-md-2 mb-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        name="first_name"
                        placeholder="First Name"
                    >
                </div>


                <!-- Email -->
                <div class="col-md-2 mb-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        name="email"
                        placeholder="Email"
                    >
                </div>


                <!-- Role -->
                <div class="col-md-2 mb-2">
                    <select
                        class="form-select form-select-sm select_custom"
                        name="role"
                        style="width:100%;"
                        placeholder="Select Role"
                    >
                        <option value="">Select Role</option>
                        <option value="Super Admin">Super Admin</option>
                        <option value="Admin">Admin</option>
                        <option value="Sales">Sales</option>
                    </select>
                </div>


                <!-- Branch -->
                <div class="col-md-2 mb-2">
                    <select
                        class="form-select form-select-sm select_custom"
                        name="branch"
                        style="width:100%;"
                        placeholder="Select Branch"
                    >
                        <option value="">Select Branch</option>
                    </select>
                </div>


                <!-- Status -->
                <div class="col-md-2 mb-2">
                    <select
                        class="form-select form-select-sm select_custom"
                        name="status"
                        style="width:100%;"
                        placeholder="Select Status"
                    >
                        <option value="">Select Status</option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                </div>


                <!-- Search / Reset -->
                <div class="col-md-12 mb-2 d-flex justify-content-end">

                    <div class="me-2">
                        <button
                            type="submit"
                            id="submit"
                            class="btn btn-sm btn-primary"
                            style="width:90px;"
                        >
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span class="ms-2">Search</span>
                        </button>
                    </div>

                    <div>
                        <button
                            type="reset"
                            id="reset"
                            class="btn btn-sm btn-light"
                            style="width:90px;"
                        >
                            <i class="fa-solid fa-retweet"></i>
                            <span class="ms-2">Reset</span>
                        </button>
                    </div>

                </div>

            </div>

        </div>


        <!-- Filter and Action -->
        <div class="col-md-2 mt-2 mb-2">

            <div class="d-flex justify-content-end">

                <div class="me-2">
                    <button
                        type="button"
                        id="filter"
                        class="btn btn-sm btn-light"
                        style="width:90px;"
                    >
                        <i class="fa-solid fa-filter"></i>
                        <span class="ms-2">Filter</span>
                    </button>
                </div>

                <div class="dropdown">

                    <button
                        class="btn btn-primary btn-sm dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        style="width:90px;"
                    >
                        Action
                    </button>

                    <div class="dropdown-menu">

                        <a
                            class="dropdown-item"
                            href="{% url 'cashier:user-create' %}"
                        >
                            <i class="fas fa-add me-1"></i>
                            Add User
                        </a>


                        <button
                            class="dropdown-item"
                            id="ExportExcel"
                            type="button"
                        >
                            <i class="fas fa-file-excel me-1"></i>
                            Excel
                        </button>

                    </div>

                </div>
            </div>

        </div>

    </div>


    <!-- User Table -->
    <div class="table-responsive">

        <table
            id="myTable"
            class="table table-bordered compact table-striped"
            style="width:100%"
        >
            <thead></thead>
            <tbody></tbody>
        </table>

    </div>

</div>

{% endblock %}


{% block scripts %}

<script>

$(document).ready(function () {

    /*
    |--------------------------------------------------------------------------
    | Username Select2
    |--------------------------------------------------------------------------
    */

    $.ajax({
        url: '{% url "cashier:get_user_name" %}',
        method: 'GET',
        data: {
            q: ''
        },
        dataType: 'json',

        success: function (data) {

            $("[name='username']")
                .empty()
                .append('<option value="">Select User</option>');

            $("[name='username']").select2({
                data: data.results,
                placeholder: "Select User",
                allowClear: true,
                width: '100%'
            });

        }
    });


    /*
    |--------------------------------------------------------------------------
    | Branch Select2
    |--------------------------------------------------------------------------
    */

    $.ajax({
        url: '{% url "cashier:get_branch_name" %}',
        method: 'GET',
        data: {
            q: ''
        },
        dataType: 'json',

        success: function (data) {

            $("[name='branch']")
                .empty()
                .append('<option value="">Select Branch</option>');

            $("[name='branch']").select2({
                data: data.results,
                placeholder: "Select Branch",
                allowClear: true,
                width: '100%'
            });

        }
    });


    /*
    |--------------------------------------------------------------------------
    | Role Select2
    |--------------------------------------------------------------------------
    */

    $("[name='role']").select2({
        placeholder: "Select Role",
        allowClear: true,
        width: '100%'
    });


    /*
    |--------------------------------------------------------------------------
    | Status Select2
    |--------------------------------------------------------------------------
    */

    $("[name='status']").select2({
        placeholder: "Select Status",
        allowClear: true,
        width: '100%'
    });

});


/*
|--------------------------------------------------------------------------
| Show / Hide Filter
|--------------------------------------------------------------------------
*/

$("#filter").click(function (e) {

    e.preventDefault();

    $("#custom_form").fadeToggle("slow");

});


/*
|--------------------------------------------------------------------------
| DataTable
|--------------------------------------------------------------------------
*/

var table = $('#myTable').DataTable({

    dom: "Bfrt<'d-flex justify-content-between'<l><i><p>>",

    buttons: [
        {
            extend: 'excel',

            title: 'User Data',

            filename: 'User_Data',

            exportOptions: {
                columns: [0, 1, 2, 3, 4, 5, 6]
            }
        }
    ],


    order: [
        [0, 'asc']
    ],


    searching: false,


    processing: true,


    paging: true,


    serverSide: true,


    scrollCollapse: false,


    scrollX: true,


    scrollY: "413px",


    fixedHeader: true,


    fixedColumns: {
        left: 1,
        right: 1
    },


    lengthMenu: [
        [16, 50, 100, -1],
        [16, 50, 100, 'All']
    ],


    language: {
        loadingRecords: ""
    },


    ajax: {

        async: true,

        type: 'GET',

        url: '{% url "cashier:user-get_data" %}',

        data: function (d) {

            d.username = $("select[name='username']").val();

            d.first_name = $("input[name='first_name']").val();

            d.email = $("input[name='email']").val();

            d.role = $("select[name='role']").val();

            d.branch = $("select[name='branch']").val();

            d.status = $("select[name='status']").val();
        },

        dataSrc: 'data'
    },


    columns: [

        /*
        |--------------------------------------------------------------------------
        | Username
        |--------------------------------------------------------------------------
        */

        {
            title: 'User Name',
            data: 'username'
        },


        /*
        |--------------------------------------------------------------------------
        | First Name
        |--------------------------------------------------------------------------
        */

        {
            title: 'First Name',
            data: 'first_name'
        },


        /*
        |--------------------------------------------------------------------------
        | Last Name
        |--------------------------------------------------------------------------
        */

        {
            title: 'Last Name',
            data: 'last_name'
        },


        /*
        |--------------------------------------------------------------------------
        | Email
        |--------------------------------------------------------------------------
        */

        {
            title: 'Email',
            data: 'email'
        },


        /*
        |--------------------------------------------------------------------------
        | Role
        |--------------------------------------------------------------------------
        */

        {
            title: 'Role',
            data: 'role',

            render: function (data, type, row) {

                if (!data) {
                    return '-';
                }

                return data;
            }
        },


        /*
        |--------------------------------------------------------------------------
        | TDCL Branch - TAG / BADGE
        |--------------------------------------------------------------------------
        */

        {
            title: 'TDCL Branch',
            data: 'branches',
            orderable: false,

            render: function (data, type, row) {

                if (!data || data.length === 0) {

                    return `
                        <span class="badge bg-secondary fw-bold m-1">
                            N/A
                        </span>
                    `;
                }


                let branches = data.split(',');

                let badges = branches.map(function (branch, index) {

                    let badge = `
                        <span class="badge bg-info fw-bold m-1 d-inline-block">
                            ${branch.trim()}
                        </span>
                    `;

                    if ((index + 1) % 5 === 0) {
                        badge += '<br>';
                    }

                    return badge;

                });


                return badges.join('');
            }
        },


        /*
        |--------------------------------------------------------------------------
        | Status
        |--------------------------------------------------------------------------
        */

        {
            title: 'Status',

            data: 'status',

            orderable: false,

            render: function (data, type, row) {

                return `
                    <span class="badge
                        ${data == 1 ? 'bg-success' : 'bg-secondary'}
                        fw-bold"
                    >
                        ${data == 1 ? 'ACTIVE' : 'INACTIVE'}
                    </span>
                `;
            }
        },


        /*
        |--------------------------------------------------------------------------
        | Edit
        |--------------------------------------------------------------------------
        */

        {
            title: '',

            data: 'id',

            orderable: false,

            render: function (data, type, row) {

                return `
                    <a
                        class="text-secondary"
                        {# href="{% url 'cashier:user-edit' %}?id=${data}" #}
                    >
                        <i class="fas fa-edit"></i>
                    </a>
                `;
            }
        }

    ]

});


/*
|--------------------------------------------------------------------------
| Excel Export Button
|--------------------------------------------------------------------------
*/

$("#ExportExcel").click(function (e) {

    e.preventDefault();

    table.button('.buttons-excel').trigger();

});


/*
|--------------------------------------------------------------------------
| Search
|--------------------------------------------------------------------------
*/

$("#submit").click(function (e) {

    e.preventDefault();

    table
        .clear()
        .draw();

});


/*
|--------------------------------------------------------------------------
| Reset
|--------------------------------------------------------------------------
*/

$("#reset").click(function (e) {

    e.preventDefault();


    $("input[name='first_name']").val('');

    $("input[name='email']").val('');


    $("select[name='username']").val(null).trigger('change');

    $("select[name='role']").val(null).trigger('change');

    $("select[name='branch']").val(null).trigger('change');

    $("select[name='status']").val(null).trigger('change');


    table
        .clear()
        .draw();

});

</script>

{% endblock %}