{% extends 'layout.html' %}

{% block header %}
    {% with icon='fa fa-chart-line' breadcamp='Segment' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
<div class="container-section">
    <div class="d-flex justify-content-between align-items-center border-bottom">
        <span class="icon-text icon-text-bold">
            <i class="fa-solid fa-plus"></i>
            <span>Create</span>
        </span>

        <div class="d-flex justify-content-end">
            <div class="p-1">
                <a href="{% url 'cashier:segment-index' %}" class="btn btn-sm btn-light">
                    <i class="fa-solid fa-arrow-left"></i> <span class="ms-2">Back</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container py-2">

        <form action="{% url 'cashier:segment-submit' %}" method="POST">
            {% csrf_token %}

        <div id="custom_form">        
            <div class="row">                
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="segment_name" class="form-label">Segment Name</label>
                        <input type="text" id="segment_name" name="segment_name" class="form-control form-control-sm">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" checked id="status" name="status">
                            <label class="form-check-label" for="status">
                              Active
                            </label>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-4"></div>
                
              
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-start">
                        <div class="me-2">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa-regular fa-floppy-disk"></i> <span class="ms-2">Save</span>
                            </button>
                        </div>
                        <div class="">
                            <button type="reset" class="btn btn-sm btn-light">
                                <i class="fa-solid fa-retweet"></i> <span class="ms-2">Reset</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

</div>
{% endblock %}
{% block scripts %}
<!-- individual pages can add scripts here -->
{% endblock %}